<div
  class="offcanvas offcanvas-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions-1"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header justify-content-end">
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <form>
    <img
        class="mx-auto d-block"
        id="logotipo"
        src="../assets/img/logotipo.png"
        alt=""
      />
      <h1 class="h3 mb-3 fw-normal">Reestablecer contraseña</h1>
    </form>
  </div>

</div>
