<div
  class="offcanvas offcanvas-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions-1"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header justify-content-end">
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <img
        class="mx-auto d-block"
        id="logotipo"
        src="../assets/img/logotipo.png"
        alt=""
      />
      <h1 class="h3 mb-3 fw-normal">Reestablecer contraseña</h1>
      <div class="form-floating" *ngIf="codigoVerificacion">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          name = 'email'
          [(ngModel)]="email"

        />
        <span *ngIf="error" class="text-danger">Error al enviar codigo de verificacion</span>
        <button class="btn btn-success mt-2" (click) = "olvideContrasena()">
          Enviar codigo de verificacion
        </button>

        <label for="floatingInput">Correo electrónico</label>

      </div>



      <div *ngIf="cambiarPassword">
      <p class="text-success">Codigo de verificacion enviado por favor ingrese el codigo de verificacion y su nueva contraseña</p>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInputCode"
          name = 'code'
          [(ngModel)]="code"
          autocomplete="off"
        />
        <label for="floatingInputCode">Codigo de verificacion</label>
      </div> <br>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name = 'password'[(ngModel)]="password"
autocomplete="off"
        />
        <label for="floatingPassword">Contraseña nueva</label>
      </div>
      <span *ngIf="error" class="text-danger">Error al cambiar contraseña</span>
        <button class="btn btn-success mt-2" (click) = "olvideContrasenaConfirm()">
          Cambiar contraseña
        </button><br>
      </div>
      <p *ngIf="nueva" class="text-success">Nueva contraseña establecida</p>
</div>
