<nav class="modo navbar navbar-light  p-0 shadow-sm">
  <div class="modo container modo">
    <a class="modo navbar-brand" href="/">
      <img
        class="modo float-start"
        id="isotipo"
        src="../assets/img/imagotipo.png"
        alt="BirrApp Isotipo"
      />
    </a>
    <div class="modo d-grid gap-2 d-md-flex justify-content-md-end">
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptions-1"
        aria-controls="offcanvasWithBothOptions"
      >
        <i class="bi bi-cart"></i>
        Carrito
      </button>
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptions-2"
        aria-controls="offcanvasWithBothOptions"
      >
        <i class="bi bi-person-circle"></i>
        Perfil
      </button>
      <button (click)="changeTheme('default')">Default</button>&nbsp;&nbsp;
      <button (click)="changeTheme('dark')">Dark</button>
    </div>
  </div>
</nav>

<app-carrito-offcanvas></app-carrito-offcanvas>
<app-perfil-offcanvas></app-perfil-offcanvas>
