<div
  class="offcanvas offcanvas-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions-3"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
      Agregar producto
    </h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <form class="" action="">
      <label for="exampleFormControlInput1" class="form-label">Nombre</label>
      <input
        class="form-control"
        type="text"
        placeholder="Ej: Cerveza Patagonia Weisse Lata 473ml"
        aria-label="default input example"
        [(ngModel)]="newNombre"
        name="nombre"
      />
      <label for="exampleFormControlTextarea1" class="form-label"
        >Descripción</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        [(ngModel)]="newDescripcion"
        name="descripcion"
      ></textarea>
      <select
        class="form-select mt-2"
        aria-label="Default select example"
        [(ngModel)]="newTipo"
        name="tipo"
      >
        <option selected>Selelccionar categoría</option>
        <option value="cervezas">Cervezas</option>
        <option value="vinos">Vinos</option>
        <option value="sin-alcohol">Sin alcohol</option>
        <option value="destilados">Destilados</option>
        <option value="snacks">Snacks</option>
      </select>
      <div class="input-group mt-2">
        <span class="input-group-text">$</span>
        <input
          type="text"
          class="form-control"
          aria-label="Amount (to the nearest dollar)"
          [(ngModel)]="newPrecio"
          name="precio"
        />
        <span class="input-group-text">.00</span>
      </div>
      <div class="d-grid m-2 col-12 mx-auto">
        <button class="btn btn-primary text-nowrap" (click)="agregarProducto()">
          Confirmar
        </button>
      </div>
    </form>
  </div>
  <div class="d-grid p-2 m-2">
    <button
      type="button"
      class="btn btn-outline-warning"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasWithBothOptions-3"
      aria-controls="offcanvasWithBothOptions"
    >
      <i class="bi bi bi-arrow-bar-left"></i> Salir
    </button>
  </div>
</div>
