<app-navbar-unlogged></app-navbar-unlogged>
<!-- <div class="modo d-flex justify-content-center">
  <img class="modo mx-auto" src="../../../assets/img/imagotipo.png" />
</div> -->
<h1 class="modo text-center" style="font-weight: 800;color: #3400c3;">Bienvenido a BIRRAPP</h1>
<h2 class="modo text-center" style="font-weight: 800;color: #3400c3;" >Ingresa con tu cuenta o registrate!</h2>
<div class="modo d-flex justify-content-center">
<img class="modo mx-auto" src="../../../assets/img/imagotipo.png">
</div>
