<form class="row g-3">
  <div class="col-md-4">
    <label for="validationServer01" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control {{nameClass}}"
      id="validationServer01"
      required
      name="name"
      [(ngModel)]="name"
    />
    <div class="invalid-feedback">{{nameError}}</div>
  </div>
  <div class="col-md-4">
    <label for="validationServer02" class="form-label">Apellido</label>
    <input
      type="text"
      class="form-control {{lastNameClass}}"
      id="validationServer02"
      required
      name = "lastName"
      [(ngModel)]="lastName"
    />
    <div class="invalid-feedback">{{lastNameError}}</div>
  </div>
  <div class="col-md-4">
    <label for="validationServerCorreoElectronico" class="form-label"
      >Correo electrónico</label
    >
    <div class="input-group has-validation">
      <input
        type="text"
        class="form-control {{emailClass}}"
        id="validationServerCorreoElectronico"
        aria-describedby="inputGroupPrepend3 validationServerCorreoElectronicoFeedback"
        required
        [(ngModel)]="email"
        name="email"
      />
      <div
        id="validationServerCorreoElectronicoFeedback"
        class="invalid-feedback"
      >
        {{emailError}}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationServer01" class="form-label">Contraseña</label>
    <input
      type="password"
      class="form-control {{password1Class}}"
      id="validationServer01"
      value=""
      required
      name="password1"
      [(ngModel)]="password1"
    />
    <div class="invalid-feedback">{{password1Error}}</div>
  </div>
  <div class="col-md-4">
    <label for="validationServer02" class="form-label">Repita Contraseña</label>
    <input
      type="password"
      class="form-control {{password2Class}}"
      id="validationServer02"
      value=""
      required
      name = "password2"
      [(ngModel)]="password2"
    />
    <div class="invalid-feedback">{{password2Error}}</div>
  </div>

  <div class="col-md-6">
    <label for="validationServer03" class="form-label">City</label>
    <input
      type="text"
      class="form-control is-invalid"
      id="validationServer03"
      aria-describedby="validationServer03Feedback"
      required
    />
    <div id="validationServer03Feedback" class="invalid-feedback">
      Por favor ingresa una ciudad válida.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationServer04" class="form-label">Ciudad</label>
    <select
      class="form-select is-invalid"
      id="validationServer04"
      aria-describedby="validationServer04Feedback"
      required
    >
      <option selected disabled value="">Elige...</option>
      <option>Buenos Aires</option>
      <option>Rosario</option>
    </select>
    <div id="validationServer04Feedback" class="invalid-feedback">
      Por favor ingresa una provincia válida.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationServer05" class="form-label">Zip</label>
    <input
      type="text"
      class="form-control is-invalid"
      id="validationServer05"
      aria-describedby="validationServer05Feedback"
      required
    />
    <div id="validationServer05Feedback" class="invalid-feedback">
      Por favor ingresa un código postal válido.
    </div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input
        class="form-check-input is-invalid"
        type="checkbox"
        value=""
        id="invalidCheck3"
        aria-describedby="invalidCheck3Feedback"
        required
      />
      <label class="form-check-label" for="invalidCheck3">
        Acepto términos y condiciones
      </label>
      <div id="invalidCheck3Feedback" class="invalid-feedback">
        Debés aceptar antes de continuar.
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-success" type="submit" (click) = "register()">Continuar</button>
  </div>
</form>
