
<!---aqui la idea es pasarle un array que contenga productos y mostrarlos aqui para visualizarlos en el home-->
<div class="d-flex flex-wrap-reverse justify-content-around">
  <div class="card" style="width: 18rem;" *ngFor="let product of productos">
      <img src="../../../assets/img/birra-ejemplo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> {{product.nombre}} </h5>
        <p class="card-text">{{product.descripcion}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{product.precio}}</li>
        <li class="list-group-item">{{product.clasificacion}}</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">ver detalles</a>
        <a href="#" class="card-link" icon="">agregar al carrito</a>
      </div>
    </div>

</div>

