<div class="card" style="width: 18rem;" *ngFor="let i of array">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Producto</h5>
      <p class="card-text">aqui va la descirpcion</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">precio</li>
      <li class="list-group-item">clasificacion</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">ver detalles</a>
      <a href="#" class="card-link" icon="">agregar al carrito</a>
    </div>
  </div>
