<div class="container">
  <div class="row mt-3">
    <div class="col"></div>
    <div class="col">
      <div class="row">
        <form class="d-flex mx-auto">
          <input
            aria-label="Search"
            class="form-control shadow-sm"
            type="search"
            name="nombre"
            placeholder="Ej: Cerveza Patagonia"
            [(ngModel)]="nombre"
          />
          <button
            class="btn btn-outline-success shadow-sm"
            placeholder="Search"
            type="submit"
            name="enviar"
            value="buscar"
            (click)="filtrarProductos()"
          >
            Buscar
          </button>
        </form>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <!---aqui la idea es pasarle un array que contenga productos y mostrarlos aqui para visualizarlos en el home-->

  <div *ngIf="productos" class="container">
    <div class="row row-cols-4">
      <div class="col" *ngFor="let product of productos">
        <div class="card shadow m-3 border-0 bg-light" style="width: 18rem">
          <img
            src="{{fileRoute+product.imagePath}}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.nombre }}</h5>
            <p class="card-text m-0">{{ product.descripcion }}</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-light fw-bolder">
                ${{ product.precio }}
              </li>
            </ul>
          </div>
          <div
            class="btn-group rounded-bottom m-1"
            role="group"
            aria-label="Basic example"
          >
            <button class="btn btn-success rounded-start">Ver detalles</button>
            <button
              class="btn btn-primary rounded-end"
              (click)="agregarACarrito(product._id)"
            >
              Agregar a carrito
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
