<div class="modo card mb-2" style="max-width: 540px">
  <div class="modo row g-0">
    <div class="modo col-md-4 d-flex flex-wrap align-items-center">
      <img src="../assets/img/birra-ejemplo.jpg" class="modo img-fluid" alt="..." />
    </div>
    <div class="modo col-md-8">
      <div class="modo card-body">
        <h5 class="modo card-title">Nombre producto</h5>
        <p>$125</p>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-primary">
            <i class="bi bi-dash-lg"></i>
          </button>
          <button type="button" class="btn btn-primary disabled">
            02
          </button>
          <button type="button" class="btn btn-primary">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
        <button type="button" class="btn btn-danger ms-2">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
