<div
  class="modo offcanvas offcanvas-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions-0"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="modo offcanvas-header justify-content-end">
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="modo offcanvas-body">
    <form class="modo d-grid gap-2">
      <img
        class="modo mx-auto d-block"
        id="logotipo"
        src="../assets/img/logotipo.png"
        alt=""
      />
      <h1 class="modo h3 mb-3 fw-normal">Por favor ingrese sus datos</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          name="email"
          placeholder="name@example.com"
          [(ngModel)]="email"
        />
        <label for="floatingInput">Correo electrónico</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          name="password"
          placeholder="Password"
          [(ngModel)]="password"
        />
        <label for="floatingPassword">Contraseña</label>
      </div>
      <span *ngIf="!isValid" class="modo text-danger"
        >Correo y/o contraseña invalida</span
      >

      <div class="modo d-grid gap-2">
        <button
          class="w-100 btn btn-lg btn-primary"
          type="submit"
          (click)="login()"
        >
          Ingresar
        </button>
        <a
          class="btn btn-danger text-decoration-none mx-auto"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBothOptions-1"
          aria-controls="offcanvasWithBothOptions"
        >
          ¿Olvidaste tu contraseña?
        </a>
        <hr />
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-success mx-2"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Crear nueva cuenta
        </button>
      </div>
    </form>
  </div>
</div>
<app-forgot-password></app-forgot-password>
<app-loader [show]="loadingShow" [title]="loadingTitle"></app-loader>
