<app-navbar></app-navbar>
<app-carrito-offcanvas></app-carrito-offcanvas>
<div class="container">
        <div class="d-flex flex-wrap justify-content-start">
        <div class="card mx-4 my-2" style="width: 18rem;" *ngFor="let pedido of pedidos; index as i">
            <div class="card-body">
            <h5 class="card-title">Pedido N° {{i + 1}} </h5>
            <div class="acordion-flush">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Productos
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <ul class="list-group mb-3">
                            <li  class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let item of pedido.items">
                                {{item.producto.nombre}} X{{item.cantidad}}
                            </li>
                        </ul>
                      </div>
                    </div>
                  </div>
            </div>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">{{pedido.direccion}}</li>
            <li class="list-group-item">{{pedido.aclaraciones}}</li>
            <li class="list-group-item">{{pedido.total}}</li>
            </ul>
            <div class="card-body">
            <button class="btn btn-primary" (click) = "repetirPedido(pedido._id)"> repetir</button>
            </div>
        </div>
        </div>
</div>
