<app-navbar></app-navbar>
<app-carrito-offcanvas></app-carrito-offcanvas>

<div class="container">
  <main>
    <div class="row g-5 py-5">
      <!-- Porductos del carrito -->
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Tu Carrito</span>
          <span class="badge bg-primary rounded-pill">{{cantidad}}</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let item of carrito.items">
            <div>
              <h6 class="my-0">{{ item.producto.nombre }} X{{ item.cantidad }}</h6>
              <small class="text-muted">{{ item.producto.descripcion }}</small>
            </div>
            <span class="text-muted">${{ item.producto.precio * item.cantidad }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <a
              class="text-decoration-none"
              href="/home"
            >
              Agregar mas productos</a
            >
          </li>
        </ul>

        <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">Total a pagar</h6>
        </div>
        <span class="text-muted">${{subtotal}}</span>
      </li>
        <form>
          <div class="input-group">
            <button
            (click)="agregarPedido()"
            type="submit" class="btn btn-primary w-100 mt-2">
              Ir a Pagar
            </button>
          </div>
        </form>
      </div>

      <!-- Datos de la entrega -->

      <div class="col-md-7 col-lg-8 py-5">
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Recibir ahora en</h6><input
              type="text"
              class="form-control"
              id="direccion"
              name="direccion"
              placeholder="Direccion"
              [(ngModel)]="direccion"
            />
            </div>
          </li>
          <li class="list-group-item lh-sm">
            <div>
              <h6 class="my-0">Aclaraciones de tu pedido</h6>
              <textarea class="form-control mt-2" rows="8" [(ngModel)]="aclaraciones"></textarea>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </main>
</div>

<script src="form-validation.js"></script>
