<app-register-modal></app-register-modal>
<nav class="navbar navbar-light bg-light p-0 shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        id="isotipo"
        src="../assets/img/imagotipo.png"
        alt="BirrApp Isotipo"
      />
    </a>
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasWithBothOptions-0"
      aria-controls="offcanvasWithBothOptions"
    >
      <i class="bi bi-box-arrow-in-right"></i>
      Ingresar
    </button>
  </div>
</nav>

<app-signin-offcanvas></app-signin-offcanvas>
